.main{
    margin-bottom: 50px;
    min-height: calc(100vh - 80px);
}
.main-pic{
    background-image: url("https://i.imgur.com/qkdpN.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    height: 500px;
    
    padding: 0;
}

.centerThis{
    margin: auto;
    background-color: rgba(0, 0, 0, 0.473);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.centerThisInside{
    margin: auto;
}
h1{
    font-size: 4rem;
}


/* _______Discover______ */
.cardCont{
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card{
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 500px;
    margin: 40px auto;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
}
.card-btn{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    position: absolute;
    border: none;
    color: white;
    font-size: 20px;
}
.pick{
    right: 20px;
    bottom: 20px;
    background-color: #43a047;
}
.pick:hover{
    font-size: 27px;
    cursor: pointer;
}
.pass{
    bottom: 20px;
    left: 20px;
    background-color: #e53935;
}
.pass:hover{
    font-size: 27px;
    cursor: pointer;
}
/* _______footer______ */

.footer{
    background-color:#e5e5e5 ;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.footBox{
    height: 100px;
}